<span style="font-family: Arial; font-weight:bold;font-size:1em;color:#f0f0f0;">.....................
    <span style="font-family: Arial; font-weight:bold;font-size:3.2em;color:#0a7a78;">NPV EXAM SET FOR 30 MARKS

# 4 Questions X 2 Marks = 8 Marks

---------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 1. Read the dataset(Data.csv) and check the dimensions of the dataset?

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">2. Change the column names into upper case

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 3. Show the records having legendary = True ?

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 4. Change and set the index for the name attribute

-------

# 5 Questions X 3 Marks = 15 Marks

------------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 1 .Remove all the text before "Mega" in Name column

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">2. Drop the columns with column name  '#'

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">3. Fill NaN values in column Type2 with corresponding values from Type1?

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">4.Filter data using logical operators

    Hint: df['TYPE 1']=='Fire') | (df['TYPE 1']=='Dragon')) & ((df['TYPE 2']=='Dragon') | (df['TYPE 2']=='Fire')

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">5. Print the data in the descending order of the Totals.

------

# 1 Questions X 7 Marks = 7 Marks

---

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">1A). Shows all the unique Type1 in column and give the count of unique values?(2 marks)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">1B). Show the distribution for the pokemons 'attack's across all the genarations(3 marks)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">1C). What is the Strongest Pokemons in Types1?(2 marks)