# IN CLASS LAB EXERCISE - 02

(Kaggle Automobile Dataset)

 We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

**INCLASS LAB EXERCISE** answer below question. Load pandas as pd and upload the Automobile.csv file as auto


1. symboling: -3, -2, -1, 0, 1, 2, 3. 
2. normalized-losses: continuous from 65 to 256. 
3. make: 
alfa-romero, audi, bmw, chevrolet, dodge, honda, 
isuzu, jaguar, mazda, mercedes-benz, mercury, 
mitsubishi, nissan, peugot, plymouth, porsche, 
renault, saab, subaru, toyota, volkswagen, volvo 

4. fuel-type: diesel, gas. 
5. aspiration: std, turbo. 
6. num-of-doors: four, two. 
7. body-style: hardtop, wagon, sedan, hatchback, convertible. 
8. drive-wheels: 4wd, fwd, rwd. 
9. engine-location: front, rear. 
10. wheel-base: continuous from 86.6 120.9. 
11. length: continuous from 141.1 to 208.1. 
12. width: continuous from 60.3 to 72.3. 
13. height: continuous from 47.8 to 59.8. 
14. curb-weight: continuous from 1488 to 4066. 
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. 
16. num-of-cylinders: eight, five, four, six, three, twelve, two. 
17. engine-size: continuous from 61 to 326. 
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. 
19. bore: continuous from 2.54 to 3.94. 
20. stroke: continuous from 2.07 to 4.17. 
21. compression-ratio: continuous from 7 to 23. 
22. horsepower: continuous from 48 to 288. 
23. peak-rpm: continuous from 4150 to 6600. 
24. city-mpg: continuous from 13 to 49. 
25. highway-mpg: continuous from 16 to 54. 
26. price: continuous from 5118 to 45400.

--------

In [14]:
import pandas as pd

import os

from google.colab import files
uploaded = files.upload()

Saving Automobile.csv to Automobile.csv

In [16]:
import io
auto= pd.read_csv(io.BytesIO(uploaded['Automobile.csv']))
auto.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg  price
0          3                168  alfa-romero  ...       21          27  13495
1          3                168  alfa-romero  ...       21          27  16500
2          1                168  alfa-romero  ...       19          26  16500
3          2                164         audi  ...       24          30  13950
4          2                164         audi  ...       18          22  17450

[5 rows x 26 columns]

**Q.no(1). Check the head of the DataFrame.**

In [17]:
auto.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg  price
0          3                168  alfa-romero  ...       21          27  13495
1          3                168  alfa-romero  ...       21          27  16500
2          1                168  alfa-romero  ...       19          26  16500
3          2                164         audi  ...       24          30  13950
4          2                164         audi  ...       18          22  17450

[5 rows x 26 columns]

------------------

**Q.no(2). How many rows and columns are there.**

In [18]:
auto.shape

(201, 26)

---------------------

**Q.no(3). What is the average Price of all cars in the dataset.**

In [19]:
auto['price'].describe().loc['mean']

13207.129353233831

-------------------------------

**Q.no(4). Which is the cheapest make and costliest make of car in the lot.**

In [45]:
print(auto[(auto['price']==auto['price'].max())]['make'].iloc[0])
print(auto[(auto['price']==auto['price'].min())]['make'].iloc[0])

mercedes-benz
subaru

--------------------

**Q.no(5). How many cars have horsepower greater than 100.**

In [43]:
auto[(auto['horsepower']>100)].shape[0]

90

----------------

**Q.no(6). How many hatchback cars are in the dataset .**

In [46]:
auto[(auto['body_style']=='hatchback')].shape[0]

68

-------------------

**Q.no(7). What are the 3 most commonly found cars in the dataset?**

In [99]:
#tot_cars = auto.groupby(['make']).agg({'fuel_type':'count'})

auto['make'].value_counts().head(3)

toyota    32
nissan    18
mazda     17
Name: make, dtype: int64

-----

**Q.no(8). Someone purchased a car for 7099, what is the make of the car?**

In [70]:
auto[(auto['price']==7099)]['make'].iloc[0]

'nissan'

-------------

**Q.no(9). Which cars are priced greater than 40000.**

In [72]:
auto[auto['price']>40000]

    symboling  normalized_losses           make  ... city_mpg highway_mpg  price
15          0                149            bmw  ...       16          22  41315
70          0                140  mercedes-benz  ...       14          16  40960
71          1                140  mercedes-benz  ...       14          16  45400

[3 rows x 26 columns]

---

**Q.no(10). Which are the cars that are both a sedan and priced less than 7000?**

In [76]:
auto_sedan = auto[(auto['price']<7000) &(auto['body_style']=='sedan')]
auto_sedan[['body_style','price','make']]

    body_style  price        make
19       sedan   6575   chevrolet
24       sedan   6692       dodge
42       sedan   6785       isuzu
50       sedan   6695       mazda
82       sedan   6989  mitsubishi
86       sedan   5499      nissan
88       sedan   6649      nissan
89       sedan   6849      nissan
118      sedan   6692    plymouth
152      sedan   6938      toyota

---------------

**Q.no(11) Show the prices of cars in ascending order.**

In [82]:
auto['price'].sort_values().head()

134    5118
17     5151
47     5195
146    5348
73     5389
Name: price, dtype: int64

--------

**Q.no(12).Show the prices of the cars in descending order.**

In [83]:
auto['price'].sort_values(ascending=False).head()

71     45400
15     41315
70     40960
125    37028
16     36880
Name: price, dtype: int64

----------------

**Q.no(12).What is the rank order of the cars as per there horsepower.**

In [89]:
auto['rank']= auto['horsepower'].rank(ascending=True,)
auto[['horsepower','rank']].head()

   horsepower   rank
0         111  133.5
1         111  133.5
2         154  175.0
3         102  120.0
4         115  144.0

---------------------

**Q.no(13).What is the rank order of the cars as per there minimum prices.**

In [90]:
auto['rank_prices']= auto['price'].rank(ascending=True,method='min')
auto[['price','rank_prices']].head()

   price  rank_prices
0  13495        130.0
1  16500        150.0
2  16500        150.0
3  13950        136.0
4  17450        162.0

------

**Q.no(14).What is the rank order of the cars as per there maximum prices.**

In [91]:
auto['rank_prices']= auto['price'].rank(ascending=True,method='max')
auto[['price','rank_prices']].head()

   price  rank_prices
0  13495        130.0
1  16500        151.0
2  16500        151.0
3  13950        136.0
4  17450        162.0

-------------

**Q.no(15).What is the dense rank order of the cars as per there horsepower.**

In [92]:
auto['rank_prices']= auto['price'].rank(ascending=True,method='dense')
auto[['price','rank_prices']].head()

   price  rank_prices
0  13495        118.0
1  16500        137.0
2  16500        137.0
3  13950        123.0
4  17450        148.0

--------------

**Q.no(16). Write a code to display the  `make` and `price` of `5,6,10` rows.**

In [94]:
auto[['make','price']].iloc[[5,6,10]]

    make  price
5   audi  15250
6   audi  17710
10   bmw  16925

------

**Q.no(17). Write a code to display the  `first five columns` and  `5 to 10 rows` using as per `index position`.**

In [107]:
auto.iloc[[5,6,7,8,9,10],[1,2,3,4,5]]

    normalized_losses  make fuel_type aspiration number_of_doors
5                 161  audi       gas        std             two
6                 158  audi       gas        std            four
7                 168  audi       gas        std            four
8                 158  audi       gas      turbo            four
9                 192   bmw       gas        std             two
10                192   bmw       gas        std            four

------------------------------------

# ----------------------------------HAPPY LEARNING----------------------------------------

-------