# IN CLASS LAB EXERCISES - 01

#### Import NumPy package as np

In [0]:
import numpy as np

####  01.  Create an empty array of 20 0's and replace the 4th object with the number 5

In [5]:
emp_array = np.zeros(20)
emp_array[4]=5
emp_array

array([0., 0., 0., 0., 5., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0.])

--------

#### 02. Create an array of 20 1's and store it as a variable named array_master. Copy the same array into another variable named array_copy

In [7]:
array_master = np.ones(20)
array_copy = array_master
array_copy

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])

--------

#### 03.Create an array containing 30 1's and broadcast all the one's to the value 100

In [11]:
arr = np.ones(30)
arr[:]=100
arr

array([100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100.])

----------------------------------------------------

#### 04. Create an array of integers starting from 21 until 31 and name it as array1

####  ---     Create an array of integers starting from 11 until 21 and name it array2

####  ---    Calculate the difference between array1 and array2

In [0]:
array1= np.arange(21,31)
array2

---------------------------------------------

#### 05. Create an array of all even integers from 2 to 10 and name it a1

#### --   Create an array of all even integers from 22 to 30 and name it a2

####    a) Use the 2 arrays as rows and create a matrix [ Hint - Use stack function from numpy ]

In [33]:
import numpy as np
a1 = np.arange(2,10,2)
a2 = np.arange(22,30,2)

a = np.hstack([a1,a2])
a

array([ 2,  4,  6,  8, 22, 24, 26, 28])

-----------------------

####  b) Use the 2 arrays as columns and create a matrix [ Hint - Use column_stack function from numpy ]

In [0]:
a = np.vstack([a1,a2])

--------------

#### 06. Create a 5x6 matrix with values ranging from 0 to 29 and retrieve the value intersecting at 2nd row and 3rd column

In [45]:
a = np.arange(30).reshape(5,6)
a[2][3]

15

--------------------

#### 07. Create an identity matrix of shape 10x10 and replace the 0's with the value 21

In [23]:
a = np.ones([10,10])*21
for i in range(len(a)):
  for j in range(len(a)):
    if (i==j):
      a[i][j]=1
a

array([[ 1., 21., 21., 21., 21., 21., 21., 21., 21., 21.],
       [21.,  1., 21., 21., 21., 21., 21., 21., 21., 21.],
       [21., 21.,  1., 21., 21., 21., 21., 21., 21., 21.],
       [21., 21., 21.,  1., 21., 21., 21., 21., 21., 21.],
       [21., 21., 21., 21.,  1., 21., 21., 21., 21., 21.],
       [21., 21., 21., 21., 21.,  1., 21., 21., 21., 21.],
       [21., 21., 21., 21., 21., 21.,  1., 21., 21., 21.],
       [21., 21., 21., 21., 21., 21., 21.,  1., 21., 21.],
       [21., 21., 21., 21., 21., 21., 21., 21.,  1., 21.],
       [21., 21., 21., 21., 21., 21., 21., 21., 21.,  1.]])

--------------------

#### Use NumPy to generate a random set of 10 numbers between 0 and 1

#### 08. Display a boolean array output where all values > 0.2 are True, rest are marked as False

In [59]:
a= np.random.rand(10)
a >0.2

array([ True, False,  True,  True, False, False, False,  True, False,
        True])

-------------------


#### 09. Use NumPy to generate an array matrix of 5x2 random numbers sampled from a standard normal distribution

In [62]:
a= np.random.randn(10).reshape(5,2)
a

array([[-1.27086737, -1.18934817],
       [-0.94309622, -0.67984847],
       [ 0.4269053 , -1.051624  ],
       [-0.89181942,  0.36686785],
       [-0.19388634, -0.58500565]])

-----------------------------

#### 10. Create an array of 30 linearly spaced points between 0 and 100:

In [66]:
a = np.arange(100)
np.linspace(0,100,30)

array([  0.        ,   3.44827586,   6.89655172,  10.34482759,
        13.79310345,  17.24137931,  20.68965517,  24.13793103,
        27.5862069 ,  31.03448276,  34.48275862,  37.93103448,
        41.37931034,  44.82758621,  48.27586207,  51.72413793,
        55.17241379,  58.62068966,  62.06896552,  65.51724138,
        68.96551724,  72.4137931 ,  75.86206897,  79.31034483,
        82.75862069,  86.20689655,  89.65517241,  93.10344828,
        96.55172414, 100.        ])

---------------------------

## Numpy Indexing and Selections

#### 11. Using the below given Matrix, generate the output for the below questions.

----------------

#### a) Retrieve the last 2 rows and first 3 column values of the above matrix using index & selection technique

------

#### b) Retrieve the value 55 from the above matrix using index & selection technique

--------------

#### c) Retrieve the values from the 3rd column in the above matrix

---------------

#### d) Retrieve the values from the 4th row in the above matrix

-----------------

#### e) Retrieve values from the 2nd & 4th rows in the above matrix

--------------

### Calculate the following values for the given matrix

#### a) Calculate sum of all the values in the matrix

--------------

#### b) Calculate standard deviation of all the values in the matrix

------

#### c) Calculate the variance of all values in the matrix

-----------

#### d) Calculate the mean of all values in the matrix

-------------

#### e) Retrieve the largest number from the matrix

--------------

#### f) Retrieve the smallest number from the matrix

-------

# -------------------------------- HAPPY LEARNING -------------------------------

--------------------------------