# TAKE HOME LAB-EXERCISE - 02

(Kaggle games Dataset)

 We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

**TAKE HOME LAB EXERCISE** answer below question.

In [2]:
import pandas as pd
import os
from google.colab import files
uploaded = files.upload()

Saving games.csv to games.csv

**Q.no(1). load the Data 'games.csv' as games.**

In [0]:
import io
games = pd.read_csv(io.BytesIO(uploaded['games.csv']))

-----

**Q.no(2). Check the head of the DataFrame.**

In [29]:
games.head(8)

       id       type  ... total_weights  average_weight
0   12333  boardgame  ...          2562          3.4785
1  120677  boardgame  ...          1423          3.8939
2  102794  boardgame  ...           777          3.7761
3   25613  boardgame  ...          1642          4.1590
4    3076  boardgame  ...          5213          3.2943
5   31260  boardgame  ...          5065          3.6160
6  124742  boardgame  ...          1260          3.3103
7   96848  boardgame  ...          1409          4.1292

[8 rows x 20 columns]

-----

**Q.no(3)How many rows and columns are there.**

In [5]:
games.shape

(81312, 20)

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [7]:
games['playingtime'].mean()

51.63478827682052

-------------------

**Q.no(5).What is the highest number of comments received for a game.**

In [9]:
games['total_comments'].max()

11798

-------

**Q.no(6).What is the name of the game with id 1500.**

In [12]:
games[games['id']==1500]['name'].iloc[0]

'Zocken'

------

**Q.no(7).which year was game with id 1600 was published.**

In [14]:
games[games['id']==1600]['yearpublished'].iloc[0]

1986.0

-----

**Q.no(8).Which game has received highest number of comments.**

In [16]:
games[games['total_comments']==games['total_comments'].max()]['name'].iloc[0]

'Catan'

-----

**Q.no(9).Which games have received least number of comments**

In [17]:
games[games['total_comments']==games['total_comments'].min()]['name'].iloc[0]

'Looney Leo'

-----

**Q.no(10).How many unique games are there in the dataset.**

In [24]:
games['name'].unique().shape[0]

76036

----

**Q.no(11).How many boardgames and boardgameexpansions are there in the dataset.**

In [32]:
games[(games['type']=='boardgame')|(games['type']=='boardgameexpansions')].shape[0]

70820

----

**Q.no(12) Show the average ratings of games in ascending order.**

In [36]:
games[['average_rating','name']].sort_values(by='average_rating').head()

       average_rating                                     name
81311             0.0                        Bingo Animal Kids
46614             0.0                              Kugel-Duell
46615             0.0            Langohr, Schlitzohr, Rbe & Co
46616             0.0                                Latty Top
46617             0.0  Golden Years  Retirement Adventure Game

----

**Q.no(13) Show the average ratings of games in ascending order.**

In [37]:
games[['average_rating','name']].sort_values(by='average_rating',ascending=False).head()

       average_rating                                               name
74808            10.0  Age of Conan: The Strategy Board Game  Adventu...
62260            10.0                                       -(Mathul8)^2
72670            10.0                                             Kamara
78071            10.0                              Vinhos Deluxe Edition
79305            10.0            Zombicide: Black Plague Survivor  Gowan

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

In [38]:
games[['average_rating','name']].rank(ascending=True,method='dense').head()

   average_rating     name
0         17105.0  69612.0
1         17041.0  62821.0
2         17044.0  11644.0
3         16909.0  67077.0
4         16788.0  50121.0

------

# --------------------------------HAPPY LEARNING---------------------------------------

-------